* {
  box-sizing: border-box;
}

.calculator {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
  gap: 1px;
  width: calc(24rem + 3px);
  background-color: rgb(86, 85, 89);
  margin: 0 auto;
  
}

.output {
  grid-column: 1 / span 4;
  background-color: rgb(83,	82,	82);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;  
  word-break: break-all;
}

.zero {
  grid-column: 1 / span 2;
}

.digit {
  background-color: rgb(130, 130, 130);
}

.operator {
  background-color: rgb(242,	163,	60)	;
}

.firstline {
  background-color: rgba(103, 103, 103);
}

button {
  color: white;
  border: none;
  
}

button:active{
  background-color: rgb(167, 167, 167);
}


.last-output{
  color: white;
}

.current-output{
  color: white;
  font-size: 3rem;
}